body {
  background:rgb(241,247,252);
  margin:0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
                    /*          Loginas          */
.forma {
  min-width:360px;
  width:20%;
  box-shadow: 1px 1px 5px rgb(0,0,0,0.1);
  padding:10px;
  background-color:white;
  margin:auto;
  margin-top:200px;
}
.logo{
  width:40%;
  margin:auto;
  margin-top:20px;
  margin-bottom:60px;
}
.logo img{
  width:100%;
}
.form{
  width:80%;
  margin:auto;
  margin-top:20px;
}
.form input,button{
  width:100%;
  padding-left:0;
  padding-right:0;
  padding-top:10px;
  padding-bottom:10px;
}
.form input{
  border:none;
  border-bottom: 1px solid #dfe7f1;
  background: #f7f9fc;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}
.form button{
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  border:none;
  background: #3350D9;
  font-size:1rem;
  color:white;
}
.form button:hover{
  background:#5b72e0;
  cursor:pointer;
}
a{
  text-decoration: none;
  text-align: center;
  display:block;
  margin-top:20px;
  margin-bottom:10px;
  color: #6f7a85;
  opacity: 0.9;
}
a:hover{
  color: #0056b3;
  cursor:pointer;
}
.signinerror{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color:red;
}
